{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
    {{ block.super }}
    Se connecter.
{% endblock %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        <div class="panel panel-default">
            <div class="panel-heading">
                S'enregistrer
            </div>
            <div class="panel-body">
                Vous êtes connecté.
            </div>
        </div>

    {% else %}
        <form action="{% url "login" %}" method="post" class="form">
            {% csrf_token %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    Se connecter
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                        <input type="text" class="form-control" name="login" placeholder="Nom d'utilisateur">
                    </div>
                    <hr>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-menu-right" id="basic-addon2"></span>
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="panel-footer">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            Envoyer
                        </button>
                    {% endbuttons %}
                </div>
            </div>
        </form>
    {% endif %}
</div>

{% endblock %}
