django>1.10
django-extensions
djangorestframework==3.5
djangorestframework-gis>=0.11
django-rest-swagger
django-bootstrap3
django-sekizai
django-webpack-loader
django-jsonify
channels

numpy
matplotlib
sklearn

asgi_redis
psycopg2
gunicorn
daphne
